<div class="remove-container container-block">
  <h2 class="container-block-title">
    MEMPOOL
    <script src="https://www.cryptohopper.com/widgets/js/script"></script>
    <div width=100 class="cryptohopper-web-widget" data-id="3" data-background_color="#ffffff" data-coins="bitcoin" data-theme="custom" data-realtime="on"></div>
    <div class="cryptohopper-web-widget" data-id="5" data-background_color="#ffffff" data-theme="custom" data-news_count="3" data-news_length="5"></div>
  </h2>
</div><!--//About-->
