<script src="https://www.cryptohopper.com/widgets/js/script"></script>
<div class="remove-container container-block">
  <h2 class="container-block-title">
    BTC/USD Price
    </h2>
    <div class="btcwdgt-price" bw-cash="false" bw-theme="light" bw-cur="usd"></div>
</div>
<div class="remove-container container-block">
  <h2 class="container-block-title">
    Recent News
  </h2>
    <script src="https://www.cryptohopper.com/widgets/js/script"></script>
    <div class="cryptohopper-web-widget" data-id="5" data-background_color="#ffffff" data-news_count="3" data-news_length="3"></div>
</div><!--//About-->
