<div class="remove-container container-block">
  <h2 class="container-block-title">
    MEMPOOL
    <script>
  (function(b,i,t,C,O,I,N) {
    window.addEventListener('load',function() {
      if(b.getElementById(C))return;
      I=b.createElement(i),N=b.getElementsByTagName(i)[0];
      I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
    },false)
  })(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
</script>
    <script src="https://www.cryptohopper.com/widgets/js/script"></script>
    <div class="btcwdgt-price" bw-cash="false" bw-theme="light" bw-cur="usd"></div>
    <div class="cryptohopper-web-widget" data-id="5" data-background_color="#ffffff" data-news_count="3" data-news_length="3"></div>
  </h2>
</div><!--//About-->
